.Pages{
    text-align: center;
    margin-bottom: 5vw;
    margin-top: 5%;
}
.pText{ 
        color: #869ab8;
}

.pagesForm{
    margin-left: 29%;
    margin-right: 29%;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15)!important;
    flex-direction: column!important;
    white-space: normal!important;
    height: 100%!important;
    border-radius: 12px!important;
}

.helpes{

}

.error{
    margin-left: 5px;
    font-size: 13px;
    color: red;
  }